

.wrapper{
    width: 250px;
    height: 250px;
    background: #2c2d32;
    border-radius: 50%;
    z-index: 0;
    overflow: hidden;
    position: relative;    
}

.gear{
    position: absolute;
    width: 58px;
    height: 58px;
    border-radius: 50%;
    --color: #c44646;
    --border: #e86060;
    background: var(--color);
    border: var(--border) 16px solid;
    animation: anim-1 5s linear 0s infinite;
}

.gear:first-child {
    top: 22px;
    left: 30px;
}

.gear:nth-child(2){
    top: 90px;
    left: 136px;
    --color: #3a8dda;
    --border: #5facf3;
}

.gear:nth-child(3){
    top: 135px;
    left: 32px;
    --color: #d8be7d;
    --border: #f4e1b3;
    transform: rotate(65deg);
    animation-name: anim-2;
}

.gear::before{
    position: absolute;
    content: '';
    background: #2c2d32;
    width: 30px;
    height: 30px;
    border: var(--color) solid 14px;
    border-radius: 50px;
    top: calc(50% - 29px);
    left: calc(50% - 29px);
}

ul{
    position: absolute;
    top: -50px;
    left: 15px;
    list-style: none;
    z-index: -1;
}

li{
    width: 16px;
    height: 0px;
    border-bottom: 63px solid var(--border);
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    position: absolute;
    top: 0px;
    left: 0px;
    transform-origin: center bottom;
}

li:nth-child(0){
    transform: rotate(0deg);
}

li:nth-child(1){
    transform: rotate(45deg);    
}

li:nth-child(2){
    transform: rotate(90deg);
}

li:nth-child(3){
    transform: rotate(135deg);    
}

li:nth-child(4){
    transform: rotate(180deg);    
}

li:nth-child(5){
    transform: rotate(225deg);    
}

li:nth-child(6){
    transform: rotate(270deg);    
}

li:nth-child(7){
    transform: rotate(315deg);    
}

@keyframes anim-1 {
    100% {
        transform: rotate(360deg);
    }

    0% {
        transform: rotate(0deg);
    }
}

@keyframes anim-2 {
    100% {
        transform: rotate(-295deg);
    }

    0% {
        transform: rotate(65deg);
    }
}